/* Estilos para el mapa*/

#mapa {
    border: 2px solid #4444;
    height: 500px;
    margin-left: 4vh;
    margin-right: 4vh;
    position: relative;
    
}
#lineas {
    
    position: absolute;
    top: 2vh;
    right: 2vh;
    background: #63997a;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 1000;
}
.boton-lineas{
    background-color: #fa7f4b;
    border: 1px solid #4444;
    color: white;
    width: 160px;
    height: 30px;
    font-size: 14px;
}
.linea-item {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}
.linea-item:hover {
    background-color: #f0f0f0;
    color: #000;
}
@media (max-width: 768px){
    #lineas{
        top: 1vh;
        right: 1vh;
        width: auto;
        padding: 5px;
    }
    .boton-lineas{
        width: auto;
        font-size: 12px;
        padding: 5px 10px;
    }
}